<style>
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}
</style>

<%= link_to '<i class="glyphicon glyphicon-arrow-left"></i> Back'.html_safe, :back, {:style => 'color:#0079bf; font-size: 18px; font-weight: bold; font-family: "Ubuntu"'} %>
<br><br>

<div style='overflow-y: scroll; height: 650px; box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.1); border-left: 10px solid black'>
	<%= sync_new partial: 'event', resource: Event.new, direction: :prepend %>
  <%= sync partial: 'event', collection: @project.events.order("created_at DESC"), direction: :prepend %>
</div>
