<div class="navbar-text pull-left" style= 'color:#FFFFFF; font-size: 18px; font-weight: bold; font-family: "Ubuntu", sans-serif;'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <a class="fa fa-envelope" style='color:red' href='<%=unread_path(current_user)%>'>
  </a>
</div>
